.slides_container {
	position: relative;
}
.slides_container .slide {
	height: 340px;	
}
.slides_container p {
	position: absolute;
	color: #fff;
	font-size: 48px;
	top: 40px;
	left: 35px;
	font-weight: lighter;
}

